.logo {
    color: rgb(75, 75, 199);
    font-size: 24px;    
    font-family: cursive;
}

button {
    text-decoration: none;
    font-family: cursive;
    color: royalblue;
    border:none;
    font-size: 1rem;
    background: 
    linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
    ),
    linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 115% 115%, 0 110%;
    background-repeat: no-repeat;
    transition: background-size 400ms, color 400ms;    
}

button:hover {
    background-size: 0 3px, 100% 3px;
    box-shadow: 0 0 0 0 rgba(#ffffff, 0.5);
    color: wheat;
}

