body{
    margin:0;
    padding:0;
    font-family:sans-serif;  
    overflow:hidden;

    /* Changes background for all pages */
    background: rgb(2,0,36);    
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(135,33,145,1) 26%, rgba(11,62,73,1) 43%, rgba(2,9,55,1) 100%);  

    
  }
  
  .center{
    position:absolute;
    top:50%;
    left:50%;
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(15deg);
    transition:0.5s;
    animation: fadeInAnimation ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ;

  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .center:hover{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(0deg);
  }
  
  .center h1 span{
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size:9em; /* Size of splash text */
    color:#612a74;
    -webkit-text-stroke-width: 3px;
    font-family:Tahoma;
    -webkit-text-stroke-color: black;
    transform-style:preserve-3d;
    transition:0.8s;
  }
  .center h1 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  }
  
  
  
  .center h1 span:nth-child(2){
    color:#612a74;
    transform:translate(-50%,-50%) skewX(-65deg);
    left:-38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  .center h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewY(0deg);
    left:-76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  }
  
  .center:hover h1 span:nth-child(2), 
  .center:hover h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewX(0deg);
    left:0;
    color:#612a74;
  }